@use '_variables' as *;
@use '_mixins' as *;

.publish-button {
  @include button-with-icon(21px, 3px, -1px);
  @include margin-right(25px);

  @media screen and (max-width: $mobile-view) {
    @include margin-right(10px);

    padding-right: 10px;
    padding-left: 10px;

    .icon.icon-upload {
      @include margin-right(0);
    }

    .publish-button-label {
      display: none;
    }
  }
}

.btn-col{ display:flex;
  .btn{ 
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 0;
    img{ max-width: 28px; margin:0 10px 0 0;}
  }
}